$background_main_color: black;
$background_colored_border_button: white;
$color_text: white;

$background_button_gradient_left: rgb(185, 122, 87);
$background_button_gradient_right: rgb(83, 55, 40);

$color_body: white;